body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/backgroundthrone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "Oswald";
}

#menu {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(109, 109, 109);
}

#menu > div {
  display: flex;
  width: 33%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#container {
  height: 92vh;
}

#characters > div {
  display: flex;
  flex-direction: column;
  color: white;
}

.charaImg {
  width: 300px;
  height: auto;
}

.btn:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: white;
  cursor: pointer;
}

#menu > div > p {
  color: white;
  margin: unset;
}

.contName {
  color: white;
  font-size: 40px;
  margin: auto;
}

.quote {
  color: white;
  font-size: 25px;
}
