body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/backgroundthrone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "Oswald";
}

#menu {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(109, 109, 109);
}

#menu > div {
  display: flex;
  width: 33%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#container {
  display: flex;
  height: 92vh;
  flex-direction: column;
}

.charaImg {
  width: 300px;
  height: auto;
}

.btn:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: white;
  cursor: pointer;
}

#menu > div > p {
  color: white;
  margin: unset;
}

/************************ CAROUSEL ********************************/

#characters {
  position: relative;
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

#arrows {
  position: absolute;
  justify-content: space-between;
  width: 400px;
  left: center;
  bottom: 10vh;
  display: flex;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow > img {
  height: 70px;
  width: auto;
}

.arrow > img:hover,
.contName:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.arrow > img:active,
.contName:active {
  filter: brightness(0.7);
}
/************************* CHARACTERS ************************/

.card {
  margin: 0 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 35, 0.25);
  border-radius: 8px;
  height: 400px;
  width: 400px;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
}

.card > div {
  background-image: url("./assets/texture.jpg");
  color: rgb(0, 0, 0);
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  border-top: 5px solid rgb(109, 71, 2);
}

/************************* QUOTES *************************/

#quotes {
  margin-top: 8vh;
}

.quote,
.contName {
  color: rgb(0, 0, 0);
  font-size: 23px;
  padding: 20px;
  font-weight: bold;
  border: 5px solid rgb(109, 71, 2);
  background-image: url("./assets/texture.jpg");
}

/*********************** CONTINENTS ************************/

.contName {
  font-size: 35px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

#continents {
  margin-top: 8vh;
}
